/* header.css */

/* For responsiveness */
div.row
{
  width: 100%;
}

/* Breadcrumb - stick on scroll */
div.sticky
{
  position: sticky;
  top: 115px;
  z-index: 99;
  width: 100%;
}
.sticky .breadcrumb
{
  background-color: white;
}

/* For large screen only */
@media (min-width: 992px) {
  /* Dropdown box - invisible without hovering */
  .dropdown-menu
  {
    display: none;
    background-color: #f9f9f9;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.6);
  }
  /* Dropdown item */
  .dropdown-item
  {
    padding: 8px 12px;
    text-align: center;
    white-space: normal;    /* Break words in lines if too long */
  }
  /* Dropdown item on hovering */
  .dropdown-item:hover
  {
    background-color: #ddd;
  }
  /* Dropdown box - visible with hovering */
  .dropdown:hover .dropdown-menu
  {
    display: block;
  }
  /* Border line in dropdown menu - visible only in large screen */
  .nav-item hr#lgScreen
  {
    display: block;
  }
  /* Border line in dropdown menu - invisible in large screen */
  .nav-item hr#smScreen
  {
    display: none;
  }
}

/* For small screen only */
@media (max-width: 991px) {
      /* Collapsing navbar style */
      .navbar-collapse
      {
        background-color: rgba(56,56,56,0.95);
        text-align: center;
        background-position: relative;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      /* Navbar's contents */
      .navbar-collapse .col .list-group-horizontal,
      .navbar-collapse .col .navbar-nav
      {
        display: flex;
        justify-content: center;
        color: white;
      }
      /* Search form */
      .navbar-collapse .col .form-inline
      {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
      }
      /* Dropdown menu titles */
      .navbar-collapse .col .navbar-nav .nav-item .nav-link,
      .navbar-collapse .col .list-group-horizontal .nav-item a
      {
        color: white;
        font-weight: bold;
      }
      /* Dropdown menu box */
      .navbar-collapse .col .navbar-nav .nav-item .dropdown-menu
      {
        background-color: rgba(56,56,56,0);
        border-color: rgba(56,56,56,0);
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
      }
      /* Dropdown menu items */
      .navbar-collapse .col .navbar-nav .nav-item .dropdown-menu a
      {
        color: white;
      }
      .navbar-collapse .col .navbar-nav .nav-item .dropdown-menu a:hover
      {
        color: rgb(14, 180, 195);
      }
      /* Border line in dropdown menu - invisible in small screen */
      .navbar-collapse .col .navbar-nav .nav-item hr#lgScreen
      {
        display: none;
      }
      /* Border line in dropdown menu - visible only in small screen */
      .navbar-collapse .col .navbar-nav .nav-item hr#smScreen
      {
        display: block;
      }
  }