/* index.css */

  /* Carousel - position */
	#myCarousel
	{
		text-align: right;
    height: 100%;
    border-bottom: 4px solid rgba(0,0,0,0.5);
    border-top: 4px solid rgba(0,0,0,0.5);
    margin-left: 3%;
    margin-right: 0%;
	}
	/* Make carousel's images fully responsive */
  .carousel-inner img
  {
  	width: 100%;
	  height: 100%;
  }
  /* Tabs for each page at the bottom */
  .carousel .carousel-indicators li
  {
  	background-color:rgba(0, 0, 0, 0.7);
  }
  /* Carousel image */
  .carousel-item img
  {
    width: 880px;
    height: 450px;
  }
  /* Carousel left control */
  .carousel-control-prev
  {
    display: flex;
    justify-content: right;
    margin-left: -9.5%;
  }
  /* Carousel right control */
  .carousel-control-next
  {
    display: flex;
    justify-content: right;
    margin-right: 2%;
  }

  /* "Usefull" buttons at the left */
 	.btn-group .button
 	{
 		background-color: rgba(0, 139, 139, 0.8);
 		border: 5px solid rgba(0, 139, 139, 0);
 		color: rgb(0,0,0,0.7);
   	font-weight: bold;
 		display: block;
 		width: 265px;
 		height: 70px;
 		transition-duration: 0.4s;
 		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 	}
 	.btn-group .button:hover
	{
 		background-color: white;
 		color: rgb(0,0,0,0.7);
 		border-right: none;
 		border-bottom: none;
 		border-top: none;
 		border-left: 5px solid rgba(0, 139, 139,0.8);
  }

  /* Info boxes */
  .flex-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container .flex-content
  {
    margin: 5%;
    padding: 28px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 30%;
    text-align: center;
  }
  /* Only show the number of words that fits in the box - add '...' at the end */
  .flex-container .flex-content h5
  {
    color: rgb(0, 139, 139);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: font-size 0.25s;
    font-size: 125%;
  }

  .flex-container .flex-content h5:hover
  {
    font-size: 130%;
  }

  /* Only show the number of words that fits in the box - add '...' at the end */
  .flex-container .flex-content p
  {
    color: rgba(0,0,0,0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .flex-container .flex-content .show-button
  {
    width: 125px;
    background: rgb(0,139,139);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
  }

  .flex-container .flex-content .show-button:hover,
  .flex-container .flex-content .show-button:focus
  {
    background: rgba(0,139,139,0.8);
  }

  /* For small screen only */
	@media (max-width: 991px) {
    /* Carousel - position */
		#myCarousel
		{
      width: 100%;
      margin-left: 3%;
		}
	}