/* user-profile.css */

/* Info box */
.flex-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container .flex-content
{
	padding: 5% 5%;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 	width: 75%;
	border-radius: 5px;
}

.flex-container .flex-content img
{
	width: 90px;
	height: 90px;
}

.flex-container .flex-content h4
{
	text-align: left;
	padding-left: 10%;
	padding-top: 3%;
}

.flex-container .flex-content h5,
.flex-container .flex-content h6
{
	text-align: center;
	color: #2C3E50;
}

.flex-container .flex-content b
{
	color: #2C3E50;
}

.flex-container .flex-content .edit-button
{
    background: white;
    font-weight: bold;
    font-size: 100%;
    color: #E08119;
    border: 2px solid #E08119;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
}

.flex-container .flex-content .edit-button:hover,
.flex-container .flex-content .edit-button:focus
{
	background: #FFD662;
	color: rgba(0,0,0,0.7);
	border-color: #FFD662;
}

.flex-container .flex-content .logout-button
{
    background: white;
    font-weight: bold;
    font-size: 100%;
    color: #CD212A;
    border: 2px solid #CD212A;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
}

.flex-container .flex-content .logout-button:hover,
.flex-container .flex-content .logout-button:focus
{
	background: #FF6F61;
	color: rgba(0,0,0,0.7);
	border-color: #FF6F61;
}

.showEmployee:hover
{
	text-decoration: underline;
}

#msform
{
	text-align: center;
}

#msform .action-button
{
	height: 40px;
    width: 250px;
    background: rgb(0,139,139);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus
{
    box-shadow: 0 0 0 2px white;
}

/* For extra small screen */
@media (max-width: 991px){

	.flex-container .flex-content img
	{
		display: none;
	}

	.flex-container .flex-content h4
	{
		padding-top: 5%;
	}
}